.title{
    display: flex;
    background-color: white;
}
.drag{
    -webkit-app-region: drag
  }
.nodrag{
    -webkit-app-region: no-drag;    
}
img {
    -webkit-transition: -webkit-transform .4s ease-in-out;
            transition:         transform .4s ease-in-out;
}
img:hover {
}